#chat-screen {
  height: 11000vh;
  background-color: #abc1d1;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

.main-chat {
  margin-top: 150px;
}
