.user-component {
  justify-content: space-between; /*수평으로 동일 간격*/
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-componet__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.user-componet__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-componet__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title--not-bold {
  font-weight: 600;
}

.user-component__column:last-child {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-component__time {
  margin-bottom: 15px;
  display: block;
}

/*
.user-component__column:last-child {}에서 아래와 같이 변경도 가능

.user-component__column div span,
.user-component__column div i {
  color: black;
}
*/

/*
.user-component__column:first-child {}는 
.friends-screen__channel의 자식(user-component)중에 
첫번째자식인 img와 .user-component__text을 말한다.



*/
